<div style="background-color:yellow">
 <h1 style="color:red">  RI-TECH </h1>
</div>
<div style="padding:4px;background-color:deepskyblue">
  <a style="background-color:orange;color:white;padding:3px;margin:2px;" [routerLink]="['/sample']" href="">Sample</a>
  <a style="background-color:orange;color:white;padding:3px;margin:2px;" [routerLink]="['/products']" href="">Products</a>
  <a style="background-color:orange;color:white;padding:3px;margin:2px;" [routerLink]="['/customers']" href="">Customers</a>
  <a style="background-color:orange;color:white;padding:3px;margin:2px;" [routerLink]="['/pipes']" href="">Pipes</a>
  <a style="background-color:orange;color:white;padding:3px;margin:2px;" [routerLink]="['/animate']" href="">Animations</a>
 </div>
 <div style="background-color:aqua">
     <hr>
        <router-outlet></router-outlet>
     <hr>
 </div>